<ul class="nav navbar-nav">
    <li routerLinkActive="active">
        <a routerLink="/web/bienvenue" >Acceuil</a> 
    </li>
    <li routerLinkActive="active">
        <a routerLink="/web/about">A Propos de nous</a> 
    </li>
    <li routerLinkActive="active">
        <a routerLink="/web/services">Services</a> 
    </li>
    <li routerLinkActive="active">
        <a routerLink="/web/blogs">Blogs</a> 
    </li>
    <li routerLinkActive="active">
        <a routerLink="/web/contact">Contact</a> 
    </li>
</ul>
