
<!-- Slider -->
<!-- <app-home-slider [dataListHomeSlider]="dataListHomeSlider"></app-home-slider>  -->
<app-home-slider></app-home-slider> 

<!-- How it Work --> 
<app-home-how-it-works [_data]="_data.sectionHowItWorks"></app-home-how-it-works>

<!-- Shipment Solution-->
<!-- <app-section-home1-shipment [_data]="_data.sectionShipment"></app-section-home1-shipment> -->

<!-- Latest Project --> 
<!-- <app-home-services [_data]="_data.sectionProjects"></app-home-services> -->

<!-- Our Team --> 
<!-- <app-home-team [dataListteamList]="dataListteamList"></app-home-team> -->

<!-- MY BLOG --> 
<app-home-blogs [dataList]="dataListBlog"></app-home-blogs>

<!-- Why Choose --> 
<!-- <app-about-us-services [_data]="_data.sectionServices"></app-about-us-services> -->
<app-home-services [_data]="_data.sectionWhyChooseUs"></app-home-services> 

<!-- Testimonials --> 
<app-home-testemonials [_data]="_data.sectionTestimonials"></app-home-testemonials> 

<!-- Contact Us  -->
<app-section-home1-contact></app-section-home1-contact>


<!-- Our Client Logo --> 
<app-home-partenaires [dataListPartenaires]="dataListPartenaires"></app-home-partenaires>

