.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff; // Adjust as needed
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.267); // Optional: Add a shadow for better visibility
}
