<div class="section-full bg-gray p-t80  p-b50">
    <div class="container">

        <div class="row">

            <!-- SECTION WHY CHOOSE US -->
            <div class="col-lg-6 col-md-12">
                <!-- TITLE START-->
                <div class="section-head text-left">
                    <h2>{{_data.sectionWhyChooseUs.title}}</h2>
                    <div class="mt-separator-outer">
                        <div class="mt-separator site-bg-primary"></div>
                    </div>
                </div>
                <!-- TITLE END-->
                <div class="section-content sx-why-choose">

                    @for(_item of _data.sectionWhyChooseUs.features; track $index) {
                    <div class="mt-box {{$index==1?'m-b30':''}}">
                        <div class="mt-info bg-white text-left p-a20 {{$index==0?'m-b30':''}}">
                            <h4>{{_item.title}}</h4>
                            <p>{{_item.description}}</p>
                            <!-- <a href="services"
                                class="site-button-link site-text-primary font-weight-600">En savoir plus</a> -->
                        </div>
                    </div>
                    }

                </div>
            </div>

            <!-- SECTION SKILLS -->
            <div class="col-lg-6 col-md-12">
                <!-- TITLE START-->
                <div class="section-head text-left">
                    <h2>{{_data.sectionSkills.title}}</h2>
                    <div class="mt-separator-outer">
                        <div class="mt-separator site-bg-primary"></div>
                    </div>
                </div>
                <!-- TITLE END-->
                <div class="section-content  clearfix ">
                    <div class="p-b0">
                        <div class="mt-box">
                            <h2 class="m-t0" [innerHTML]="_data.sectionSkills.subtitle"></h2>
                        </div>
                        <div class="our-exp"> 

                            @for(_item of _data.sectionSkills.features; track $index) {
                            <span class="progressText text-black"><b>{{_item.title}}</b></span>
                            <div class="progress m-b30 m-t10">  
                                <div class="progress-bar site-bg-bleu progress-bar-striped progress-bar-animated text-black"
                                    role="progressbar" [style.width.%]="_item.count" attr.aria-valuenow="{{_item.count}}"
                                    aria-valuemin="0" aria-valuemax="100">{{_item.count}}%</div>
                            </div>
                            }
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>