<div class="section-full  p-t80 p-b50">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="mt-box m-b30">
                    <div class="mt-thum-bx mt-img-effect">
                        <img src="{{_data.image}}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="mt-box sx-what-wedo">
                    <span
                        class="site-text-primary display-block title-second text-uppercase font-20 font-weight-600 display-block m-b15">{{_data.title}}</span>
                    <h2 class="m-t0">{{_data.subtitle}}</h2>
                    <p>{{_data.description}}</p>
                    <p>
                        La Smaco DRC Sarlu est une entreprise de BTP établie en République Démocratique du Congo 
                        depuis 2018. La Smaco DRC est actuellement dirigée par Monsieur Bill Branson TAFU, 
                        son Président Directeur Général Statutaire.
                     </p>
                     <p>
                        Etablie en République Démocratique du Congo avec des branches dans les villes de Kinshasa, 
                        Lubumbashi, Kolwezi, Kananga, Bukavu, Goma, Matadi pour répondre aux besoins quotidiens 
                        de la nation congolaise avec plusieurs gammes des services et produits.
                     </p>
                     <p>
                        Nous offrons plusieurs services depuis nos divers départements comme la construction générale, 
                        la décoration, la vente des matériaux, location des matériels, l'aménagement paysager etc. 
                        Nous disposons d'un personnel composé des architectes, des ingenieurs et formateurs qualifiés. 
                        Nos services s'étendent sur tout le territoire de la République Démocratique du Congo.
                     </p>
                    <!-- <a href="page/about-us" class="site-button">En savoir plus</a> -->
                </div>
            </div>
        </div>

    </div>
</div>