<div class="section-full  p-t80 p-b50">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="mt-box m-b30">
                    <div class="mt-thum-bx mt-img-effect">
                        <img src="{{_data.image}}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="mt-box sx-what-wedo">
                    <span
                        class="site-text-primary display-block title-second text-uppercase font-20 font-weight-600 display-block m-b15">{{_data.title}}</span>
                    <h2 class="m-t0">{{_data.subtitle}}</h2>
                     
                    <!-- <p class="text-justify">{{_data.description}}</p> -->
                    
                    <p class="">
                        La société <strong>« 3S-Security sarl »</strong> est spécialisée dans la sécurité des personnes et des biens. 
                        <br>
                        <br> 
                        Elle exerce dans des secteurs variés tel que: Gardiennage et Surveillance, Protection rapprochée, Événementiel, Accompagnement, Hôtesses, Contrôle d’accès, Télésurveillance & les systèmes d’alarmes. 
                        <br>
                        <br> 
                        Nous organisons et remplissons tous les types de missions allant de la protection rapprochée des personnalités jusqu’au gardiennage, en passant par la sécurité événementielle (cérémonies ou réceptions) et la surveillance de points sensibles. Notre mot d’ordre est: « Protéger, Prévenir, Préserver », car notre premier travail est d’anticiper tout type de danger et être prêt à réagir. 
                        <br>
                        <br> 
                        Ensuite, nous avons pour mission de calmer la situation et de garder le contrôle: veillez à l’ordre. Pour y arriver, il nous est très important, voir une obligation, de passer au préalable par un audit des besoins du clients en hommes, équipements ainsi qu’une visite d’inspection sur les lieux concernés. 
                        <br> 
                        <br>
                        Ces audits sont menés par nos cadres hautement spécialisés qui conseillent et détermineront les mesures et les dispositifs à prendre afin de répondre plus efficacement aux besoins et objectifs fixés. 
                        Afin de répondre efficacement aux besoins du clients et satisfaire ses demandes, 3S-Security sarl met un accent particulier sur la formation de son personnel.
                        <br> 
                        <br>
                        Pour vos événements ponctuels et vos besoins quotidiens, nos équipes sont uniquement constituées de professionnels. 
                        <br> 
                        <br>
                        Qu’ils soient spécialistes de la protection rapprochée, maîtres chien, agents de sécurité, d’accueil ou voituriers, hommes ou femmes, nos agents sont parfaitement aptes à répondre à l’ensemble des missions que vous nous confiez: public ou privé. 
                        <br> 
                        <br>
                        Quels que soient vos besoins, 3S-Security sarl répondra à vos demandes avec efficacité et sans faille. 
                        <br> 
                        <br>
                        Nos équipes opèrent 24h/24 et 7jrs/7 dans la rapidité et l’efficacité.
                    </p>
                    <!-- <a href="page/about-us" class="site-button">En savoir plus</a> -->
                </div>
            </div>
        </div>

    </div>
</div>