<div class="section-full bg-white bg-right-center bg-no-repeat"
    style="background-image:url(assets/images/background/bg-trans-2.png);">
    <div class="container">
        <div class="row conntact-home">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="contact-home1-left bg-secondry">
                    <div class="contact-tag-line bg-white site-text-primary">Contactez-Nous</div>
                    <div class="section-content p-lr30 p-tb30">
                        <div class="call-back-form" style="z-index:1; position:relative">
                            <h2 class="text-white m-t0">Contactez-Nous</h2>
                            <form class="cons-contact-form2 form-transparent" method="post" action="form-handler2.php">
                                <div class="form-group">
                                    <input name="username" type="text" required class="form-control" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input name="email" type="text" class="form-control" required placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input name="phone" type="text" class="form-control" required placeholder="Phone">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="3"
                                        placeholder="Message"></textarea>
                                </div>
                                <button type="submit" class="site-button ">
                                    <span class="font-weight-700 inline-block  p-lr15">Submit</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content  contact-home1-right">

                <div class="mt-box">
                    <div class="mt-media">
                        <img src="assets/images/con-1.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>