<!-- Breadcrumb -->
<div class="bg-gray-light p-tb20">
    <div class="container">
        <ul class="mt-breadcrumb breadcrumb-style-1 no-img-breadcrumb">
            <li><a routerLink="/">Accueil</a></li>
            <li>Error 404</li>
        </ul>
    </div>
</div>

<div class="section-full p-t80 p-b50">
    <div class="container">
        <div class="section-content">
            <div class="page-notfound text-center">
                <div class="section-head">
                    <h2 data-title="Error">404</h2>
                    <h3>La page Web que vous recherchez n'est pas ici !</h3>
                    <a routerLink="/web" title="Back to home" class="site-button">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
</div>